%h1= @title
%table.pure-table
  %thead
    %tr
      %td Title
      %td Length
      %td Sinopsys
      %td Genre
      %td
  %tbody
    %tr
      %td= @movie.title
      %td= @movie.length
      %td= @movie.sinopsys
      %td= @movie.genre
      %td
        %a.pure-button.pure-button-primary{ :href => "/movie/watch/#{@movie.id}" } Watch
